<div class="centered">
  <h2 class="header">Users</h2>
</div>
<div class="index-block">
  <% @users.each do |user| %>
  <div class="index-item">
    <h3><%= link_to user.username, user_path(user)%></h3>
    <span style="float: left">
      <%= "#{user.profession} in #{user.location}"%>
    </span>
    <span style="float: right">
      <%=user.average_review_score%>
    </span>
  </div>
  <% end %>
</div>
