<div class="centered">
  <h2 class="header">Users</h2>
</div>

<% @users.each do |user| %>
<h3><%= link_to user.username, user_path(user)%></h3>
<div>
  <%= "#{user.profession} in #{user.location}"%>
</div>
<% end %>
