<ol>
  <% @messages_sorted.each do |message| %>
      <li> <%= message.sender.username %> - <%= message.title %> - <%= message.created_at %> </li>
      <p> <%= message.content %> </p>
  <% end %>
</ol>
