/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require static.scss
 *= require donations.scss
 *= require messages.scss
 *= require notifications.scss
 *= require users.scss
 *= require font-awesome
 */

 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Monoton|Quattrocento+Sans|Raleway');

 html {
   height: 100%;
   background-image: linear-gradient(to right, teal, yellow);
 }
 body {
   background-color: transparent;
 }

 .centered {
   text-align: center;
 }

// a {
//   transition: 10s;
// }
//
// a:hover {
//   transition: 1s ease-in;
//   box-shadow: 0px 0px 0px 8vw red,
//               0px 0px 0px 16vw orange,
//               0px 0px 0px 24vw yellow,
//               0px 0px 0px 32vw green,
//               0px 0px 0px 40vw blue,
//               0px 0px 0px 48vw violet,
//               0px 0px 0px 56vw indigo;
// }

  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }

 li.spaced-nav {
   position: relative;
   margin-left: 12px;
 }

 li.rightmost {
   margin-left: 15px;
   margin-right: 20px;
 }

 span.number_bubble {
  background-color: red;
  color: white;
  position: absolute;
  left: 19px;
  top: 5px;
  font-size: 12px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  height: 16px;
  width: 16px;
  justify-content: center;
 }
 div.down-60 {
   padding-top: 60px;
 }

 nav.main-navbar {
   width: 100%;
   position: fixed;
 }

 div.reviews_div {

 }

 div.button {
   display: inline-block;
   padding: 15px;
   margin: 10px 0 10px 0;
   border-radius: 10px;
   background: #4aa6fc;
   transition: 1s;
 }

 div.button > a {
   transition: 1s;
   color: black;
 }

 div.button:hover {
   transition: 1s;
   background: #004d66;
 }

 div.button:hover > a {
    transition: 1s;
    text-decoration: none;
    color: white;
 }

 .header {
   margin-top: 10px;
   display: inline-block;
   font-family: 'Monoton', sans-serif;
   border: 3px solid black;
   padding: 5px;
   border-radius: 0 10px;
 }

 .dn-title {
   font-family: 'Monoton', sans-serif;
   font-size: 24px;
 }

 div.button-smaller {
   display: inline-block;
   padding: 5px;
   margin: 10px 0 10px 0;
   border-radius: 10px;
   background: #4aa6fc;
   transition: 1s;
 }

 div.button-smaller > a {
   transition: 1s;
   color: black;
 }

 div.button-smaller:hover {
   transition: 1s;
   background: #004d66;
 }

 div.button-smaller:hover > a {
    transition: 1s;
    text-decoration: none;
    color: white;
 }
