// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.speech-bubble {
	position: relative;
  width: 50%;
	background: #00aabb;
  padding: 10px;
	border-radius: .5em;
  margin: 10px 45px 10px 45px;
}

.speech-bubble-right {
  float: right;
}
.speech-bubble-left {
  float: left;
  background: #4872bb;
}

img.thread-profile {
  border: 1px solid blue;
  clear: both;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

img.profile-left {
  position: relative;
  top: 40px;
  float: left;
  margin-left: 50px;
}

img.profile-right {
  position: relative;
  top: 40px;
  float: right;
  margin-right: 50px;
}

div.reply-container {
  align-items: center;
}

.message-thread-header {
  text-align: center;
}

.speech-bubble-left:after {
  content: '';
	position: absolute;
	left: 0;
	top: 45px;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-right-color: #4872bb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-left: -31px;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 45px;
  width: 0;
  height: 0;
  border: 31px solid transparent;
  border-left-color: #00aabb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -15.5px;
  margin-right: -31px;
}

/* INDEX PAGE */

div.message-specific {
  color: black;
  text-decoration: none;
  margin: 5%;
  border: 3px solid white;
  display: inline-block;
  width: 22%;
  height: 175px;
  // background-image: linear-gradient(to left, teal, yellow);
  background: black;
  border-radius: 10px 0;
  text-align: center;
}

div.little-bubble {
  height: 100px;
  width: 70%;
}

div.message-sender {
    display: inline-block;
}

div.message-sender {
  font-family: 'Monoton', sans-serif;
  font-size: 24px;
  color: white;
}

span.number-bubble {
  display: inline-block;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
}
