// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*************** FRONT PAGE STYLES ***************/
div.front-index {
  background-color: black;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

a.front-link {
  position: relative;
  text-decoration: none;
  line-height: 200px;
  font-size: 3em;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

div.front-ring {
  position:absolute;
  top: 41%;
  left: 42%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 3s;
}

div.front-ring:hover {
  transition: 5s ease-in;
  box-shadow: 0vw 0vh 0px 8vw red,
              0vw 0vh 0vw 16vw orange,
              0vw 0vh 0vw 24vw yellow,
              0vw 0vh 0vw 32vw green,
              0vw 0vh 0vw 40vw blue,
              0vw 0vh 0vw 48vw violet,
              0vw 0vh 0vw 56vw indigo;
}


/*************** LOGIN STYLES ***************/
div.login_form {
  text-align: center;
  color: white;
  font-size: 1.25em;
  margin-top: 17%;
}

div.login-form-items {
  padding: 20px;
}

div.new-account-text {
  margin-top: 20px;
}

span.new-account-link {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  transition: .25s;
}

span.new-account-link:hover {
  background-color: green;
  transition: .25s;
}

span.new-account-link > a {
  color: black;
}
